<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <br>
    <h2>All users</h2>

    <div th:each="user : ${allUsers}">
        <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a>
        <form th:method="POST" th:action="@{/users/{id}/delete(id=${user.getId()})}">
            <input type="submit" class="btn btn-danger" role="button" aria-pressed="true" value="Удалить"/>
        </form>
        <a th:href="@{/users/{id}/edit(id=${user.getId()})}" type="button" class="btn btn-warning">Изменить</a>
        <br/>
        <br/>
    </div>
    <div>
        <a th:href="@{/login/menu}" type="button" class="btn btn-secondary">Назад</a>
    </div>
</body>
