<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Доставка</title>
</head>
<body>



<div class="container">
    <form method="POST" th:object="${composition}" th:action="@{/composition/{id}/edit(id=${composition.getId()})}"  enctype="multipart/form-data">
        <label for="title">Введите название: </label>
        <input type="text" th:field="*{title}" id="title"/>
        <br/>
        <div class="form-group">
            <label>Department</label>
            <select th:field="*{compositionFlower}" class="form-control" multiple="multiple"/>
            <option th:each="i : ${flowerList}"
                    th:field="*{compositionFlower}"
                    th:value="${i.id}" th:text="${i.name}"></option>
            </select>
        </div>

        </select>


        <button class="btn btn-primary" type="submit">Создать</button>
    </form>

</div>
<a th:href="@{/composition}" type="button" class="btn btn-outline-secondary">Назад</a>
</body>
</html>