<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <meta http-equiv='Content-Type' content='text/html'; charset="UTF-8"/>
    <title>Доставка</title>
</head>
<body>
<br>
<h2>Все композиции</h2>

<div th:each="composition : ${allCompositions.compositionFlower}">
    <a th:href="@{/composition/{id}(id=${deliver.getId()})}" th:text="${composition.getName()}"></a>
    <form th:method="POST" th:action="@{/composition/{id}/delete(id=${composition.getId()})}">
        <input type="submit" class="btn btn-danger" role="button" aria-pressed="true" value="Удалить"/>
    </form>
    <a th:href="@{composition/{id}/edit(id=${composition.getId()})}" type="button" class="btn btn-warning">Изменить</a>
    <br/>
    <br/>
</div>
<div>
    <a th:href="@{composition/new}" type="button" class="btn btn-success">Создать</a>
    <br/>
    <a th:href="@{/login/menu}" type="button" class="btn btn-secondary">Назад</a>
</div>
</body>