<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Доставка</title>
</head>
<body>
<div class="container">
    <form method="post" th:object="${deliver}" th:action="@{/deliver/new}">
        <label for="name">Введите название: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="sort">Введите сорт: </label>
        <input type="text" th:field="*{sort}" id="sort"/>
        <br/>
        <label for="cost">Введите цену: </label>
        <input type="text" th:field="*{cost}" id="cost"/>
        <br/>

        <button class="btn btn-primary" type="submit">Создать</button>
    </form>

</div>
    <a th:href="@{/deliver}" type="button" class="btn btn-outline-secondary">Назад</a>
</body>
</html>